@charset "utf-8";
// @import './mixin/mixin';
//顶部双十一图片
.top {
    width: 100%;
    height: 80px;
    position: relative;
    @include row(space-between);
    .top-l {
        width: 50%;
        height: 100%;
        background: #f4207e;
    }
    .top-r {
        width: 50%;
        height: 100%;
        background: #ff004e;
    }
    .top-img {
        width: 990px;
        height: 80px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
    }
}

//背景图部分
.wall {
    width: 100%;
    // height: 2000px;
    background: url(../images/wall.png) no-repeat center top;
    padding-top: 40px;
    margin-top: -40px;
    //头部部分
    header {
        width: 100%;
        height: 130px;
        .header-img {
            width: 290px;
            height: 130px;
            margin-left: -45px;
        }
        .center {
            height: auto;
        }
        .l-r {
            @include row(space-between);
        }
        .search {
            width: 625px;
            height: 40px;
            margin-right: 280px;
            form {
                border-width: 1px 0 1px 1px;
                border: solid #ff004e;
                position: relative;
                font-size: 0;
            }
            input {
                width: 491px;
                height: 34px;
                border: none;
                outline: none;
                padding: 5px;
                font-size: 20px;
            }
            label {
                font-size: 13px;
                line-height: 36px;
                position: absolute;
                left: 8px;
                color: rgb(204, 204, 204);
                font-weight: 100;
            }
            button {
                width: 129px;
                height: 36px;
                font-size: 18px;
                line-height: 36px;
                font-weight: 900;
                background: #FF0036;
                border: none;
                outline: none;
                color: #fff;
            }
        }
    }
}